.about a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
}

.containerBtn {
    margin-top: 1em;
    display: flex;
    gap: 2em;
    justify-content: center;
}

.icon_github {
    width: 65px;
    height: 60px;
}

.icon_linkedin {
    color: #0b65c2;
    width: 65px;
    height: 65px;
}

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    animation: sway 2s infinite alternate;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.button:hover {
    transform: scale(1.5) rotate(-360deg) translateY(-1em);
    box-shadow: 0 0 20px 0 rgba(29, 161, 242, 0.5);
}

.icon {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));
    transition: transform 0.5s;
}

.icon:hover {
    transform: scale(6);
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.9));
}

.aboutImg {
    margin-top: 1em;
    width: 400px;
    max-width: 90%;
    animation: float 1.8s infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}
