.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_form {
    max-width: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    gap: 10px;
}

.search_form input {
    max-width: 100%;
    font-size: 1em;
    padding-left: 20px;
}

.search_form input::placeholder {
    font-size: 1em;
}

.noposts {
    text-align: center;
}
