.edit_post {
    text-align: center;
    padding-bottom: 2em;
}

.edit_post h2 {
    font-size: 1.5em;
    margin: 1em 1em 0 1em;
}

.edit_post p {
    color: #aaa;
    margin-bottom: 2em;
}

.edit_post .preview_title {
    margin-bottom: 0.2em;
    color: #000;
    font-weight: bold;
}

.image_preview {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    object-fit: cover;
}

/* form styles */
.formEdit {
    max-width: 50%;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1em;
    box-sizing: border-box;
}

/* responsive form */
@media screen and (max-width: 700px) {
    .formEdit {
        max-width: 90%;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 1em;
    }
}
