.post_container {
    display: inline-flex;
    flex-direction: column;
    max-width: 90%;
    width: 800px;
    padding: 1.5em;
    border-radius: 20px;
    margin: 2em auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
}

.containerImg {
    max-width: 100%;
}

.card__image {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
}

.bodyText {
    text-align: left;
    margin-top: 1em;
    margin: 0 auto;
    max-width: 100%;
}

.containerTitle {
    font-size: 2em;
    text-align: left;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 1.5em;
    vertical-align: baseline;
}

.containerText {
    margin-top: 2em;
}

.titleh3 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}

.createdby {
    font-style: italic;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.post_container .tags {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.tags p {
    display: inline-flex;
    font-size: 1em;
    justify-content: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}

.tags p:hover {
    transform: scale(1.1);
}

.btnArrow {
    display: flex;
    gap: 1em;
    margin-top: 2em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
