.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}
.nav_list {
    display: flex;
    list-style: none;
    padding: 10px;
}

.nav_list li {
    margin-right: 0;
}

.nav_list li a {
    padding: 0.4em 0.6em;
}

.active {
    background-color: #000;
    color: #fff;
}

.mobile_icon {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

/*  Mobile */
@media (max-width: 800px) {
    .nav_list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: transparent;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    }

    .nav_list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav_mobile {
        display: flex;
        position: fixed;
        align-items: center;
        transition: 1s ease-out;
        gap: 0;
        justify-content: space-around;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        border-radius: 4px;
        z-index: 1;
    }

    .mobile_icon {
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        right: 20px;
        font-size: 25px;
        z-index: 2;
    }

    .nav_mobile li {
        font-size: 20px;
        opacity: 1;
    }

    .nav_mobile li:nth-child(1) a {
        transition: 0.5s 0.2s;
        -moz-transition: 0.5s 0.2s;
    }

    .nav_mobile li:nth-child(2) a {
        transition: 0.5s 0.4s;
        -moz-transition: 0.5s 0.4s;
    }

    .nav_mobile li:nth-child(3) a {
        transition: 0.5s 0.6s;
        -moz-transition: 0.5s 0.6s;
    }

    .nav_mobile .nav_list a {
        opacity: 1;
    }
}
