.btn_clique {
  background-color: transparent;
  border-radius: 0;
  color: #000;
  border: 1px solid #000;
  padding: 7px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.btn_clique:hover {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}