.footer {
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 2em;
    font-size: 1em;
    font-weight: 500;
    margin-top: 0.7em;
    height: calc(100vh - var(--layout-page-height));
}
