.container__footer {
    display: flex;
}

.footer {
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1.5em 2em;
    margin: 0;
    font-size: 1em;
    font-weight: 500;
}
