@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a8918;
  --secondary-color: #000;
  --text-color: #000;
  --placeholder-color: #aaa;
  --link-hover-color: #bbb;
  --button-hover-color: #0f730c;
  --button-disabled-color: #aaa;
  --error-text-color: #721c24;
  --error-background-color: #f8d7da;
  --border-color: #ccc;
  --layout-page-height: 100vh;
  --layout-page-min-height: 100vh;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: var(--placeholder-color);
}

p,
h1,
h2,
h3,
h4 {
  text-wrap: pretty;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
}

a:hover,
nav button:hover {
  color: var(--link-hover-color);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  align-items: center;
}

label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}

img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  border-radius: 20px;
  transition: all 0.5s;
}

img:hover {
  border: 1px solid transparent;
  transform: scale(1.05);
}

img:active {
  transform: scale(0.95);
}

input,
textarea {
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 0.8em 0em;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder-color);
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.btn.btn-dark {
  background-color: var(--secondary-color);
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 7px 30px;
}

.btn:hover {
  background-color: var(--button-hover-color);
  color: #fff;
}

.btn.btn-outline:hover {
  background-color: var(--secondary-color);
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: var(--button-disabled-color);
  cursor: not-allowed;
}

.error {
  color: var(--error-text-color);
  background-color: var(--error-background-color);
  border: 1px solid var(--error-text-color);
  padding: 5px;
  border-radius: 5px;
}

.post-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5em;
  max-width: 90%;
}

.icon_font {
  font-size: 1.5em;
}
.icon {
  cursor: pointer;
  margin-right: 1em;
}

.custom-path {
  stroke-dasharray: 100;
  stroke-dashoffset: 20;
}
