@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a8918;
  --secondary-color: #000;
  --text-color: #000;
  --placeholder-color: #aaa;
  --link-hover-color: #bbb;
  --button-hover-color: #0f730c;
  --button-disabled-color: #aaa;
  --error-text-color: #721c24;
  --error-background-color: #f8d7da;
  --border-color: #ccc;
  --layout-page-height: 100vh;
  --layout-page-min-height: 100vh;
}

* {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.btn.btn-dark {
  background-color: var(--secondary-color);
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 7px 30px;
}

.btn:hover {
  background-color: var(--button-hover-color);
  color: #fff;
}

.btn.btn-outline:hover {
  background-color: var(--secondary-color);
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: var(--button-disabled-color);
  cursor: not-allowed;
}

.error {
  color: var(--error-text-color);
  background-color: var(--error-background-color);
  border: 1px solid var(--error-text-color);
  padding: 5px;
  border-radius: 5px;
}
.quill > * {
  border-color: inherit !important;
  color: inherit !important;
}
.quill > .ql-toolbar {
  border-radius: 10px 10px 0 0;
}
.quill > .ql-container {
  font-size: inherit;
  border-radius: 0 0 10px 10px;
}
.ql-toolbar.ql-snow .ql-picker-label {
  color: inherit !important;
  opacity: 0.76;
}
.ql-snow .ql-picker {
  color: inherit !important;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: inherit;
}
.ql-snow.ql-toolbar button svg {
  opacity: 0.76;
  color: currentColor;
}
.ql-snow .ql-stroke {
  stroke: currentColor !important;
}
.ql-snow .ql-fill {
  fill: currentColor !important;
}
.ql-picker-item {
  color: #444 !important;
}
