.modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 90%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    border-radius: 20px;
    margin: 1.5em auto;
}

.modal__body {
    padding: 1rem 1rem;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
}

.button__primary {
    background-color: transparent;
    color: #000;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 0.875rem;
    cursor: pointer;
}

.button__primary:hover {
    background-color: #000;
    color: #fff;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 1.75rem;
}

.input__label {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: left;
}

.input__field {
    display: block;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    transition: 0.15s ease;
}

.input__field:focus {
    outline: none;
    border-color: #000;
}

.input__field__textarea {
    min-height: 100px;
    max-width: 100%;
}

.containerImg {
    margin-top: 1em;
}
