.container {
    padding: 1.5em;
    background: #28c16f;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #28c16f;
}

.containerImg {
    margin-top: 2em;
    width: 400px;
    max-width: 90%;
    margin-bottom: 2em;
    border-radius: 5px;
    animation: float 1.8s infinite alternate;
}

.containerBtn {
    margin-top: 2em;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}
