.erro_page {
    text-align: center;
    height: 100vh;
    padding: 1.5em;
}

.typograph h1 {
    font-size: 2.5em;
    font-weight: 600;
}

.typograph p {
    font-size: 1.5em;
    font-weight: 300;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    margin-bottom: 2em;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    animation: float 1.8s infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}
